
body,html{
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: black;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    background-color: white;
}
button{
    background-color: #383855;
    color: white;
    border-radius: 5px;
}
button:hover{
    background-color: #14141f;
    color: #a0a0a0;
    cursor: pointer;
}
a:hover{
    background-color: #14141f;
    color: #a0a0a0;
    cursor: pointer;
}
p,h1,h2,h3{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #383855;
    height: 10vh;
    
}
header h1{
    color: white;
    white-space: nowrap;
    font-size: 3.5vw;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    text-overflow: ellipsis;
}
.galeria {
    display: flex;
    transition: transform 1s ease-out;
    height: 30vw;
}
.galeria img{
    width: 100%;
}
.search{
    padding: 10px;
    margin: 15px;
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
}
.search input{
    width: 50%;
    max-width: 350px;
    border-radius: 5px 5px 5px 5px;
    color: white;
    background-color: #14141f;
}
.search button{
    position: relative;
    left: -7%;
    background-color: unset;
    color: white;
    border-radius: 0 5px 5px 0;
    border: none;
}
article {
    max-width: 400px;
    background-color: white;
    margin: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 90%;
    height: auto;
    flex: 1; 

}

article div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    border-radius: 0 0 5px 5px;
    background-color: #ebebeb;
}
article div h3,p{
    font-size: 3vw;
    width: 100%;
}
.price{
    font-size: 3vw;
    font-weight:normal;
    font-size: xx-large;
    color: green;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card{
    opacity: 0.5;
}

article img {
    max-width: 30%;
    max-height: 300px; 
    height: auto;
    margin: 10%;
    background-color: white;
    transition: transform 0.3s ease-in-out;
}

article img:hover {
    transform: scale(1.5); /* Ajuste o fator de escala conforme necessário */
}
#toHome{
    width: auto;
    margin-bottom: 20px;
}
footer{
    height: 50%;
}

footer p{
    font-family: 'Times New Roman', Times, serif;

}
footer .loja{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #383855;
    padding: 5%;
    row-gap: 25px;

}
footer .loja i{    
    color: #fff;
    font-size: 2vw;
    text-decoration: none;
}
footer .loja a{
    text-decoration: none;
    color: white;
}

footer .dev{
    height: 50%;  
    background-color: #14141f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 5%;
}

footer .dev p{
    font-size: small;
    color: #7e7c78;
    opacity: 0.5;
}
.contacts a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

.contacts a:hover {
    color: #a0a0a0;
}